<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Oh no, a nonexistent page!</title>
  </head>
  <body bgcolor="#60ff76">
    <img src="images/sad.png">
    <h1 style="font-family: cursive;">404: Sorry bro, nothing's here!</h1>
    <a href="/" style="font-family: cursive;">Main page!</a>
  </body>
</html>
