@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

* {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  color: var(--text-default);
  transition-property: color, transform, background;
  transition-duration: 0.33s;
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

/* @media (prefers-reduced-motion) {
  * { transition: none !important; color: var(--text-dark);}
  .hoverScale:hover > img {@apply !transform-none; }
  body {background: var(--default-col2) !important;}
} */

@theme {
  --color-dark: var(--text-default);
}

:root {
  --default-col: #a1ff86;
  --default-col2: rgb(161, 255, 134);
  --text-white: white;
  --text-dark: rgb(36, 36, 36);
  --text-default: var(--text-dark);
  --dark-col: #28674a;

  --GDL-col: #07100A;
  --ART-col: #001212;
  --KES-col: #07100A;
  --TRB-col: #110A06;
}

body {
  @apply relative min-h-screen p-2 flex flex-col items-center m-0 overflow-x-hidden mb-16 max-w-5xl mx-auto;
  background-color: #a1ff86;
  background-color: var(--default-col);
  background-image: linear-gradient(var(--default-col), var(--dark-col));
  background-attachment: fixed;
}
#bg {
  @apply fixed w-screen h-screen left-0 top-0 -z-10;
  background-image: linear-gradient(rgba(175, 245, 185, 0) 0%, var(--dark-col) 100%);
}

a {
  @apply no-underline
}

.hoverScale img {
 @apply transform-none transition-transform
}
.hoverScale:hover {
  img {
    @apply rotate-12 scale-125
  }
}

@media only screen and (min-width: 900px) {
  .mediaLinks li {
    translate: var(--off);
  }

  #head {
  display: grid;
  grid-template-areas: "a b c";
}
}

#headLeft { grid-area: a}
#headCenter { grid-area: b}
#headRight { grid-area: c}

@media only screen and (max-width: 900px) {
  #head {
    display: grid;
    grid-template-areas: "b b"
                         "a c";
  }
}


#mainLinks a:nth-of-type(1) { background: linear-gradient(30deg, #07100A, #0E301C);}
#mainLinks a:nth-of-type(2) { background: linear-gradient(30deg, #d66565, #d8bca4);}
#mainLinks a:nth-of-type(3) { background: linear-gradient(30deg, #36D166, #138645);}
#mainLinks a:nth-of-type(4) { background: linear-gradient(30deg, #e38a5e, #22428e);}

#gameLinks a:nth-of-type(1) { background: linear-gradient(30deg, #f5de6c, #f38e36);}
#gameLinks a:nth-of-type(2) { background: linear-gradient(30deg, #5c3ac3, #030302);}
#gameLinks a:nth-of-type(3) { background: linear-gradient(30deg, #864a85, #df7e1d);}
#gameLinks a:nth-of-type(4) { background: linear-gradient(30deg, #e30a27, #181918);}

#blogLinks li:nth-of-type(1) { background: linear-gradient(30deg, #9ac0d1, #4f869a);}
#blogLinks li:nth-of-type(2) { background: linear-gradient(30deg, #52df39, #2f043d);}
#blogLinks li:nth-of-type(3) { background: linear-gradient(30deg, #dfa238, #280f2c);}
#blogLinks li:nth-of-type(4) { background: linear-gradient(30deg, #ac82df, #509991);}
#blogLinks li:nth-of-type(5) { background: linear-gradient(30deg, #62b5df, #143c99);}
#blogLinks li:nth-of-type(6) { background: linear-gradient(30deg, #d66565, #7e731f);}

#extrasLinks li:nth-of-type(1) { background: linear-gradient(30deg, #ec81ec, #d12070);}
#extrasLinks li:nth-of-type(2) { background: linear-gradient(30deg, #f5e5b5, #212edf);}
#extrasLinks li:nth-of-type(3) { background: linear-gradient(30deg, #4cdf35, #ca8f1a);}
#extrasLinks li:nth-of-type(4) { background: linear-gradient(30deg, #dd8314, #2b2403);}
#extrasLinks li:nth-of-type(5) { background: linear-gradient(30deg, #c5c5c5, #997a49);}

/* #mainLinks a:nth-of-type(5) { background: linear-gradient(30deg, #15622E, #081939);} */
/* #mainLinks a:nth-of-type(6) { background: linear-gradient(30deg, #ecc695, #992281);} */
/* #mainLinks a:nth-of-type(7) { background: linear-gradient(30deg, #B35D11, #400a20);} */
/* #mainLinks a:nth-of-type(8) { background: linear-gradient(30deg, #463c38, #9f1e1e);} */

#vice[data-hidden="1"] > #moreSocials {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
#vice[data-hidden="0"] #more {
  display: none;
}
#vice[data-hidden="1"] #less {
  display: none;
}

#logoClip {
  @apply object-top object-cover max-h-[50vw];
  mask-image: linear-gradient(180deg, black -52%, transparent);
}
