@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

* {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  color: var(--text-default);
  transition-property: color, transform, background;
  transition-duration: 0.33s;
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

/* @media (prefers-reduced-motion) {
  * { transition: none !important; color: var(--text-dark);}
  .hoverScale:hover > img {@apply !transform-none; }
  body {background: var(--default-col2) !important;}
} */

@theme {
  --color-dark: var(--text-default);
}

:root {
  --default-col: #a1ff86;
  --default-col2: rgb(161, 255, 134);
  --text-white: white;
  --text-dark: rgb(36, 36, 36);
  --text-default: var(--text-dark);
  --dark-col: #28674a;

  --GDL-col: #07100A;
  --ART-col: #001212;
  --KES-col: #07100A;
  --TRB-col: #110A06;

  --FRB-col: #ae2749;
  --ARR-col: #3b1130;
  --DLS-col: #432e41;
  --FBP-col: #dc6c2c;
  --SGB-col: #8e5e42;
  --GDC-col: #972525;

  --YT-col: #a23b3b;
  --BSKY-col: #853adb;
  --GJ-col: #518a31;
  --GH-col: #D7D7D7;
  --SH-col: #568fb1;
  --TW-col: #18cce3;
  --KO-col: #e38418;
  --SB-col: #a9c3d5;
}

body {
  @apply relative min-h-screen p-2 flex flex-col items-center m-0 overflow-x-hidden mb-16 max-w-4xl mx-auto;
  background-color: #a1ff86;
  background-color: var(--default-col);
}
#bg {
  @apply fixed w-screen h-screen left-0 top-0 -z-10;
  background-image: linear-gradient(rgba(175, 245, 185, 0) 0%, var(--dark-col) 100%);
}

a {
  @apply no-underline
}

.hoverScale img {
 @apply transform-none transition-transform
}
.hoverScale:hover {
  img {
    @apply rotate-12 scale-125
  }
}

#mainLinks a:nth-of-type(1) { background: linear-gradient(30deg, #07100A, #0E301C);}
#mainLinks a:nth-of-type(2) { background: linear-gradient(30deg, #d66565, #d8bca4);}
#mainLinks a:nth-of-type(3) { background: linear-gradient(30deg, #36D166, #138645);}
#mainLinks a:nth-of-type(4) { background: linear-gradient(30deg, #e38a5e, #22428e);}
#mainLinks a:nth-of-type(5) { background: linear-gradient(30deg, #15622E, #081939);}
#mainLinks a:nth-of-type(6) { background: linear-gradient(30deg, #ecc695, #992281);}
#mainLinks a:nth-of-type(7) { background: linear-gradient(30deg, #B35D11, #400a20);}
#mainLinks a:nth-of-type(8) { background: linear-gradient(30deg, #463c38, #9f1e1e);}

#extrasLinks a:nth-of-type(1) { background: linear-gradient(30deg, #e87272, #622bc9);}
#extrasLinks a:nth-of-type(2) { background: linear-gradient(30deg, #55e18d, #4c0f3d);}
#extrasLinks a:nth-of-type(3) { background: linear-gradient(30deg, #da93dd, #b484e1);}
#extrasLinks a:nth-of-type(4) { background: linear-gradient(30deg, #251166, #d48730);}
#extrasLinks a:nth-of-type(5) { background: linear-gradient(30deg, #f0843d, #d290cc);}
#extrasLinks a:nth-of-type(6) { background: linear-gradient(30deg, #14711c, #511c1c);}

#vice[data-hidden="1"] > #moreSocials {
  opacity: 0;
  visibility: hidden;
}
#vice[data-hidden="0"] #more {
  display: none;
}
#vice[data-hidden="1"] #less {
  display: none;
}

/*h1,h2, h3 {
  font-size: 2.5rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem !important;
}

#gglogo {
  position: fixed;
  z-index: -10;
  bottom: -1rem;
  left: 1rem;
  bottom: 1rem;
  mix-blend-mode: overlay;
  opacity: 0.6;
}
#gglogo > img {
  width: 40rem;
  opacity: 0.2;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  font-size: min(7rem, 18vw);
  background-clip: content-box;
  text-align: center;
  font-weight: 900;
  background: linear-gradient(30deg, var(--default-col), var(--def2));
  background-clip: text;
  text-shadow: #00000059 4px 4px 10px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreText:hover {
  transform: scale(1.2);
}
.moreText {
  transform: scale(1);
}

.socialHead {
  transform: scale(1) translateX(0);
  padding-left: 1rem;
}

.socialText {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
}

.socialText:hover > img {
  transform: scale(1.2) rotate(15deg);
}

#mainLinks {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 60rem;
  margin-bottom: 1rem;
}
#mainLinks a {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0.25rem;
  border-radius: 0.5rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  width: 28rem;
  flex-grow: 1;
  border: white 2px solid;
  outline: black 2px solid;
  padding-left: 4rem;
  position: relative;
}

#mainLinks img {
  position: absolute;
  width: 40px;
  color: inherit;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

#mainLinks a:focus-within { outline: black 4px solid; }

#mainLinks h3, span {color: inherit;}










.mainTable {
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 0 auto;
  justify-content: space-between;
  
}

#moreSocials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#moreSocials > * {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 2rem;
}

#vice {
  display: flex;
  margin: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  opacity: 1;
}



.footerButton {
  background: none;
  border: none;
  text-decoration: underline 3px var(--text-default);
}

#pfp { 
  width: 3rem;
  border-radius: 100%;
}

dialog {
  border-radius: 1rem;
  border: white solid 5px;
  background-color: var(--dark-col);
}

.workTable {
  background-color: #0000004e;
  width: 100%;
  overflow-x: auto;
}
.workTable h3 {
  color: white;
  text-align: center;
  font-size: 1.25rem !important;
}

.workTable td {
  background: #000000b5;
  border-radius: 1rem;
  color: white;
  text-align: justify;
  min-width: 16rem;
  
}

caption {
  color: white;
  background: #000000;
  position: fixed;
}

figure {}

article {
  max-width: 16rem;
  font-size: 0.75rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#langHeader {
  background: none;
  text-align: center;
  position: relative;
}

#langHeader > div {
  display: flex;
  align-items: center;
}
#langHeader hr {
  flex-grow: 1;
  background: white;
  height: 4px;
  opacity: 0.2;
  border-radius: 10px;
  margin: 0 1rem;
}

.tableSection {
  margin: auto;
  width: 70rem;
  max-width: 95vw;
  overflow-x: scroll;
}

.sectionTitle {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--text-default);
  gap: 1rem;
}

.sectionTitle img {
  width: 3rem;
}

.sectionTitle hr {
  flex-grow: 1;
  background: var(--text-default);
  border: none;
  height: 0.25rem;
  border-radius: 1rem;
}

#kofi {
  position: absolute;
  top: 1rem;
  display: flex;
  flex-direction: column;
}

#kofi * {font-size: 1rem !important;}*/
